.developerImage{

background-image: url('../../../../../assets/Images/landingPage/Developer.svg');
background-position: center;
background-size: contain;
height: 80%;
background-repeat: no-repeat;
    
}