.mat-stroked-button{
    color:#ffffff !important;
    border-color: rgba(255, 255, 255, 0.7);
}

.mat-flat-button{
    color: #49a09d;
    background-color: #ffffff;
}
.color-green{
    color:#49a09d;
}
*{
    color:#ffffff;
}