<div class="headerRootContainer py-2 px-3 d-flex justify-content-between align-items-center">
<div>Logo Here</div>
<div>
    <div class="d-inline-block mr-4">
        <button mat-button [matMenuTriggerFor]="LanMenu">En</button>
        <mat-menu #LanMenu="matMenu" xPosition="after">
            <button mat-menu-item>English</button>
            <button mat-menu-item>Arabic</button>
        </mat-menu>
    </div>
    <button mat-flat-button class="mx-1">Login</button>
    <button mat-stroked-button class="mx-1">Sign Up</button>
</div>
</div>
